@import './utilidades/fonts';
@import './utilidades/colores';


* {
    margin: 0;
    padding: 0;
    font-family: $roboto;
}

/* GRID */
#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 3fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
        "header main"
        "header footer";

    #header {
        grid-area: header;
        background-color: $amarillo;

        .img__Logo {
            width: 100px;
            display: block;
            margin: auto;
            padding-top: 10px;
        }

        .img__SoyFlooori {
            width: 150px;
            display: block;
            margin: auto;

            &:hover {
                animation-name: agrandado;
                animation-duration: 2s;
            }

            .titulos {
                font-family: 'Fuzzy Bubbles', cursive;
                padding: 2rem 0 0 2rem;
            }

            .subtitulo {
                font-size: 18px;
                padding: 2rem 0 0 2rem;
            }
        }

        .respmenu {
            .menuVertical {
                margin-top: 3rem;

                a {
                    color: black;
                    display: block;
                    text-align: center;
                    padding: 15px 0px 15px 0px;
                    text-decoration: none;

                    &:hover {
                        background-color: rosa;
                        cursor: pointer;
                    }
                }
            }
        }

        #socialMedia {
            height: 3rem;
            bottom: 2rem;
            text-align: center;

            .fab {
                color: $celeste;
                margin: auto;
            }
        }
    }

    #footer {
        grid-area: footer;
        height: 100px;
        text-align: right;
        font-size: 14px;
        background-color: $celeste;
    }


    #mainIndex,
    #mainCasaTaller,
    #mainContacto {
        grid-area: main;
        background-image: url(../Img/img__bg--pink.png);
        background-size: cover;

        .titulos {
            font-family: 'Fuzzy Bubbles', cursive;
            padding: 2rem 0 0 2rem;
        }

        .subtitulo {
            font-size: 18px;
            padding: 2rem 0 0 2rem;
        }
    }

    #mainIlustraciones,
    #mainSobreMi,
    #mainTienda {
        grid-area: main;
        background-image: url(../Img/img__bg--sky.png);
        background-size: cover;

        .titulos {
            font-family: 'Fuzzy Bubbles', cursive;
            padding: 2rem 0 0 2rem;
        }

        .subtitulo {
            font-size: 18px;
            padding: 2rem 0 0 2rem;
        }
    }
}


@keyframes agrandado {
    0% {
        width: 200px;
    }
}





/* Index */


.contMenu {
    padding: 100px 50px 0px 100px;

    .imgMenu {
        display: flex;
        padding: 30px;
        width: 150px;
        height: 150px;
        text-decoration: none;

        .txtIndex {
            color: black;
        }
    }

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "sobreMi sobreMi sobreMi ilustraciones ilustraciones ilustraciones"
    "contacto contacto tienda tienda casaTaller casaTaller";

    .imgSobreMi {
        background-image: url(../Img/sobreMi.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        grid-area: sobreMi;
    }

    .imgSobreMi:hover {
        background-image: url(../Img/imgsobreMiHover.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .imgIlustraciones {
        background-image: url(../Img/ilustraciones.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        grid-area: ilustraciones;
    }

    .imgIlustraciones:hover {
        background-image: url(../Img/ilustracionesHover.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .imgTienda {
        background-image: url(../Img/store.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        grid-area: tienda;
    }

    .imgTienda:hover {
        background-image: url(../Img/storeHover.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .imgContacto {
        background-image: url(../Img/img__casaTaller.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        grid-area: contacto;
    }

    .imgCasaTaller {
        background-image: url(../Img/Img__Contacto.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        grid-area: casaTaller;
    }

}


/* Fin INDEX */



/* SOBRE MI */
#contenidoSobreMi {
    background-color: $rosa;
    width: 80%;
    margin: auto;
    margin-top: 60px;
    border-radius: 1rem;
    padding: 20px;
    text-align: center;

    #contenidoSobreMi p {
        margin: 1rem;
    }
}

/* Fin Sobre Mi */

/* Casa Taller */

#table {
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    background-color: #86bece;
    border-collapse: collapse;

    th,
    td {
        border: solid 5px $rosa;
        padding: 3px;

        li {
            list-style-type: none;
        }
    }

    th {
        background-color: $amarillo;
        font-family: 'Fuzzy Bubbles', cursive;
    }

    tr:hover {
        background-color: $rosa;
    }
}



/* Fin Casa Taller */

/* Contacto */

form {
    text-align: center;
}

.formularioContacto {
    width: 50%;
    margin: 3rem auto;
    padding: 1.5rem 1rem;
    background-color: $rosa;
    border-radius: 0.5rem;

    .formContacto {
        display: inline-block;
        width: 60%;
        text-align: left;
        color: #000000;
        font-weight: 600;
    }

    .formInput,
    .formTextArea {
        width: 60%;
        margin: 0.5rem;
        padding: 0.5rem;
        background-color: $celeste;
        border: none;
        color: #000000;
        font-size: 1rem;

        &:focus {
            outline: none;
        }
    }

    .formTextArea {
        height: 5rem;
        resize: none;
    }

    .formInputSubmit {
        background-color: $celeste;
        margin-top: 1.5rem;
        border-radius: 0.3rem;
        border-bottom: none;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-color: $amarillo;
        }
    }
}

/* Fin contacto */

/* Tienda Online */

#contTienda {
    padding: 30px 0px 0px 30px;
}

/* Responsive */

@media(max-width: 768px) {
    #container {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";

        .fab {
            visibility: hidden;
        }
    }

    .contMenu {
        justify-content: center;

        .imgMenu {
            width: 150px;
            height: 150px;
            text-decoration: none;
        }
        .txtIndex {
            font-size: 12px;
        }
    
        #mainIndex,
        #mainCasaTaller,
        #mainContacto,
        #mainIlustraciones,
        #mainSobreMi,
        #mainTienda {
            height: auto;
        }
    
    }



    #contenidoSobreMi p {
        font-size: 12px;
    }


    .respmenu input[type="checkbox"],
    .respmenu .fa-bars,
    .respmenu .fa-times {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0;
        top: 0;
    }

    .respmenu .fa-bars,
    .respmenu .fa-times {
        font-size: 48px;
        pointer-events: none;
    }

    .respmenu input[type="checkbox"] {
        opacity: 0;
    }

    .respmenu {
        color: $rosa;
        position: relative;
        background: $amarillo;
        display: flex;
        justify-content: center;

    }

    .respmenu nav {
        display: none;
    }

    .respmenu input:checked~nav {
        display: block;
    }

    .respmenu input:checked~.fa-bars {
        display: none;
    }

    .respmenu input:not(:checked)~.fa-times {
        display: none;
    }

}