#header {
    grid-area: header;
    background-color: $amarillo;

    .img__Logo {
        width: 100px;
        display: block;
        margin: auto;
        padding-top: 10px;
    }

    .img__SoyFlooori {
        width: 150px;
        display: block;
        margin: auto;

        &:hover {
            animation-name: agrandado;
            animation-duration: 2s;
        }

        .titulos {
            font-family: 'Fuzzy Bubbles', cursive;
            padding: 2rem 0 0 2rem;
        }

        .subtitulo {
            font-size: 18px;
            padding: 2rem 0 0 2rem;
        }
    }

    .respmenu {
        .menuVertical {
            margin-top: 3rem;

            a {
                color: $negro;
                display: block;
                text-align: center;
                padding: 15px 0px 15px 0px;
                text-decoration: none;

                &:hover {
                    background-color: $rosa;
                    cursor: pointer;
                }
            }
        }
    }

    #socialMedia {
        height: 3rem;
        bottom: 2rem;
        text-align: center;

        .fab {
            color: $celeste;
            margin: auto;
        }
    }
}
#footer {
grid-area: footer;
height: 100px;
text-align: right;
font-size: 14px;
background-color: $celeste;
}
